# Public/Private key pair for service catalog api server, stored as secret. Used to
# securely communicate with the main/aggregated api server.
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: apiserver-cert
  namespace: service-catalog
  labels:
    app: service-catalog-apiserver
type: Opaque
data:
  tls.crt: SVC_PUBLIC_KEY
  tls.key: SVC_PRIVATE_KEY
