apiVersion: "etcd.database.coreos.com/v1beta2"
kind: "EtcdCluster"
metadata:
  name: "etcd-cluster"
  namespace: "service-catalog"
spec:
  size: {{ .EtcdClusterSize }}
  version: "3.1.8"
  backup:
    # short snapshot interval for testing, do not use this in production!
    backupIntervalInSecond: 300 
    maxBackups: 5
    storageType: "PersistentVolume"
    pv:
      volumeSizeInMB: 1024
      storageClass: {{ .EtcdBackupStorageClass }}
