{
	"hosts": [ "{{ .Host1 }}","{{ .Host2 }}" ],
	"key": {
		"algo": "rsa",
		"size": 2048
	},
	"names": [
		{
			"C": "US",
			"L": "san jose",
			"O": "kube",
			"OU": "WWW",
			"ST": "California"
		}
	]
}
