# Secret storing long-lived GCP service account json key. This
# long-lived key will be continually transformed to a short-lived
# bearer token by another binary, and stored in the "secretName"
# within the "secretNamespace". The service-catalog will use
# this short-lived bearer token to authenticate with the GCP broker.
#
# Base64-encoded secret data
#  key: <service account json key>
#  scopes: ["https://www.googleapis.com/auth/cloud-platform"]
#  secretName: gcp-svc-account-secret
#  secretNamespace: service-catalog
apiVersion: v1
kind: Secret
metadata:
  name: oauth
  namespace: google-oauth
type: Opaque
data:
  key: SVC_ACCOUNT_KEY
  scopes: WyJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2Nsb3VkLXBsYXRmb3JtIl0=
  secretName: Z2NwLXN2Yy1hY2NvdW50LXNlY3JldA==
  secretNamespace: c2VydmljZS1jYXRhbG9n
